body {

  background-image: url("bg_image.jpg");
  max-width: 100%;
  overflow-x:hidden;
}
#header {
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
  height:100px;
  width: 100%;
  text-align: left; 
  border-bottom: 4px solid lightgrey;
  display: inline-block;
  position:absolute;
  top: 0px;
  left: 0px;
  overflow-y: hidden;

}

#_title {
  text-shadow: 1px lightgrey;
  margin-left: 120px;
  position: absolute;
  top: 0px;
  left: 200px;
  font-family: "Helvetica"; 
  color: darkgray;
  text-decoration: bold;

}
#_logo {

  position: absolute;
  top: 20px;
  margin-left: 5px;

}
#_top_b {
  display: inline-block;
  position: absolute;
  top: 66px;
          
  left: 330px;

  width: 50%;
  zoom: 1;
  
}
.b {

color: grey;
background-color: white;
border: none;
padding: 5px 5px 5px 5px;

}
.b:hover {

color: black;
text-shadow: 1px 1px lightgrey;

}
.b:focus {

color: darkcyan;
        
padding-bottom:10px;
border-bottom: 3px solid darkcyan;


}

#main {
background-color: #f9f9f4;
position: absolute;
box-shadow: 3px 3px gray;
max-width: 100%;
top:125px;
width: 98%;
height: 90%;
margin: 0 auto;
border: 5px solid lightgrey;
}

#t {
text-align: left;
text-shadow: 2px 2px lightgrey;
font-family: Helvetica;
font-size: 23px;
color: grey;
margin-left: 15px;

}
.text_s {
text-align: left;
text-shadow: 2px 1px lightgrey;
font-family: Helvetica;
color: black;
position:relative;
left: 18px;
bottom: 5px;
}
#text_p {

border-right: 2px solid lightgrey;
width: 50%;
}

#linktext {
text-align: left;
text-shadow: 1px 1px lightblue;
font-family: Helvetica;
color: blue;
position:relative;
left: 18px;
}

#linktext:hover {
color: darkgoldenrod;
text-shadow: 1px 1px lightgrey;

}

#sta {

border: 3px solid black;
position: absolute;
top: 5px;
left: 50.8%;
}

#stab {
border: 3px solid black;
position: absolute;
top: 5px;
left: 67.3%;

}

#stac {
border: 3px solid black;
position: absolute;
top: 5px;
left:83.8%;

}
#flags_3s {
height: 41px;
width: 21px;
position: absolute;
left:83.8%;
top: 110px;
}

#flags_2s {
height: 41px;
width: 21px;
position: absolute;
left:67.4%;
top: 110px;
}

#flags_1s {
height: 41px;
width: 21px;
position: absolute;
left:51.0%;
top: 110px;
}
#guides_1s {
font-family: "Helvetica";
font-size: 14px;
line-height: 24px;
letter-spacing: -1px;
position:absolute;
left:54.7%;
top:108px;
text-shadow:1px 1px lightgrey;
}

#guides_2s {
font-family: "Helvetica";
font-size: 14px;
line-height: 24px;
letter-spacing: -1px;
position:absolute;
left:71.1%;
top:110px;
text-shadow:1px 1px lightgrey;
}

#guides_3s {
font-family: "Helvetica";
font-size: 14px;
line-height: 24px;
letter-spacing: -1px;
position:absolute;
left:87.5%;
top:108px;
text-shadow:1px 1px lightgrey;
}
a:hover {
color: darkgoldenrod;

}
