body {

  background-image: url("bg_image.jpg");
  max-width: 100%;
  overflow-x:hidden;
}
#header {
  max-width: 100%;
  overflow-x: hidden;
  background-color: white;
  height:100px;
  width: 100%;
  text-align: left; 
  border-bottom: 4px solid lightgrey;
  display: inline-block;
  position:absolute;
  top: 0px;
  left: 0px;
  overflow-y: hidden;

}

._title {
  width: 100%;
  text-shadow: 1px lightgrey;
  margin-left: 120px;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: "Helvetica"; 
  color: darkgray;
  text-decoration: bold;

}
#_logo {

  position: absolute;
  top: 20px;
  margin-left: 5px;

}
#_top_b {
  display: inline-block;
  position: absolute;
  top: 75px;
  left: 330px;

  width: 50%;
  zoom: 1;
  
}
.b {

color: grey;
background-color: white;
border: none;
padding: 5px 5px 5px 5px;
text-decoration: none;
font-family: "Helvetica";
}
.ddw {
border: 2px solid orange;
display: inline-block;
position: absolute;
left:650px;
top:25px;

}

.ddw2 {
border: 2px solid orange;
display: inline-block;
position: absolute;
left:770px;
top:25px;
}

.ddw3 {
border: 2px solid orange;
display: inline-block;
position: absolute;
left:900px;
top:25px;
}

.ddw4 {
border: 2px solid orange;
display: inline-block;
position: absolute;
left:1015px;
top:25px;
}

.button_dd {
  background-color: orange;
  color: white;
  padding: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline:none;
}
.button_dd:hover {
  background-color: darkgoldenrod;
}
.dddiv {
  position: relative;
  display: inline-block;
}

.dd_content {
  display: none;
  position: absolute;
  background-color: #f7f7f7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px lightgrey;
  z-index: 1;
  
}

.dd_content a {
  color: black;
  padding: 7px 20px;
  text-decoration: none;
  display: block;
  outline:none;
}


.dd_content a:hover {background-color: lightgrey;}

.dddiv:hover .dd_content {
  display: block;
}
.b:hover {

color: black;
text-shadow: 1px 1px lightgrey;

}
.b:focus {

color: darkcyan;
        
padding-bottom:7px;
border-bottom: 3px solid darkcyan;


}

#content_wrapper_small {
background-color: #f9f9f4;
position: absolute;
max-width: 100%;
top:125px;
width: 98%;
margin: 0 auto;
height: 50%;
border: 5px solid lightgrey;
}

#content_wrapper_medium {
background-color: #f9f9f4;
position: absolute;
max-width: 100%;
top:125px;
width: 98%;
margin: 0 auto;
height:70%;
border: 5px solid lightgrey;
}

.text_standard {
color: #111111;
text-shadow: 2px 1px lightgrey;
font-family: "Helvetica";
text-align: left;
margin-left: 20px;
}

.subt {
text-align: left;
text-shadow: 2px 2px lightgrey;
font-family: Helvetica;
font-size: 23px;
color: grey;
margin-left: 15px;

}
.text_s {
text-align: left;
text-shadow: 2px 1px lightgrey;
font-family: Helvetica;
color: black;
position:relative;
left: 18px;
bottom: 5px;
}
#text_p {

border-right: 2px solid lightgrey;
width: 50%;
}

a.linkbtn {
text-align: left;
font-family: Helvetica;
margin-left:18px;
margin-bottom:10px;
background-color: #F37F24;
color: white;
text-decoration: none;
padding: 3px 3px 3px 3px;
border-radius:5px;

}

a.linkbtn:hover {
background-color: #F37000;
text-shadow: 1px 1px lightgrey;
padding: 4px 4px 4px 4px;
}
#links {
width: 50%;
position:absolute;
top:0px;
right:0px;
}

#sta {

border: 3px solid black;
position: absolute;
top: 5px;
left: 50.8%;
}

#stab {
border: 3px solid black;
position: absolute;
top: 5px;
left: 67.3%;

}

#stac {
border: 3px solid black;
position: absolute;
top: 5px;
left:83.8%;

}
#flags_3s {
height: 41px;
width: 21px;
position: absolute;
left:83.8%;
top: 110px;
}

#flags_2s {
height: 41px;
width: 21px;
position: absolute;
left:67.4%;
top: 110px;
}

#flags_1s {
height: 41px;
width: 21px;
position: absolute;
left:51.0%;
top: 110px;
}
#guides_1s {
font-family: "Helvetica";
font-size: 14px;
line-height: 24px;
letter-spacing: -1px;
position:absolute;
left:54.7%;
top:108px;
text-shadow:1px 1px lightgrey;
}

#guides_2s {
font-family: "Helvetica";
font-size: 14px;
line-height: 24px;
letter-spacing: -1px;
position:absolute;
left:71.1%;
top:110px;
text-shadow:1px 1px lightgrey;
}

#guides_3s {
font-family: "Helvetica";
font-size: 14px;
line-height: 24px;
letter-spacing: -1px;
position:absolute;
left:87.5%;
top:108px;
text-shadow:1px 1px lightgrey;
}
