.dtext {
  display: table;
  margin: 0 auto;
  color: red;
}

.header {
  position: absolute;
    left: 0;
    top: 0;
  width: 100vw;
  max-width: 100vw;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  float: left;
  background-color: #101230;
  box-shadow: 0 8px 6px -6px #737373;
  font: 15px Courier, sans;
  color: #fff;
}

.title {
display: inline-block;
vertical-align: middle;
line-height: 50px;
}
.content-container {
  margin: 80px 30% 0px 30%;
  background-color: #fff;
}

.content-text {
  color: #454545;
  font: 11px Courier, sans;
  text-align: left;

}
